/* 媒体查询
 * @Author: Leo 
 * @Date: 2019-10-09 11:33:13 
 * @Last Modified by:   Leo 
 * @Last Modified time: 2019-10-09 11:33:13 
 */

/* 超小屏幕（手机，小于 768px） */
@media(max-width:767px) {
    .shadow {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .left-box {
        margin-bottom: 10px;
    }

    .home-tips {
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        margin-bottom: -7.5px;
        margin-top: -2.5px;
        font-size: 12px;
        padding: 5px 10px;
    }

    .blog-body > .layui-container {
        padding-top: 10px;
    }

    .article {
        padding: 10px;
    }

        .article .article-title {
            margin-bottom: 5px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .article > .article-right {
            width: 72%;
            float: right;
            padding-left: 3%;
        }

            .article > .article-right > .article-abstract {
                font-size: 12px;
                color: #666;
                height: 32px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

    .blogerinfo {
        margin-bottom: 10px;
    }

    .blogerinfo-info {
        float: none;
        text-align: center;
    }

    .blogerinfo-figure {
        display: inline-block;
        float: none;
    }

    .article-tool {
        text-align: center;
    }


    .error {
        min-height: 57vh;
    }

        .error h1 .layui-icon {
            line-height: 200px;
            font-size: 200px;
        }

    .banner li p {
        font-size: 13px;
    }
}

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
    .layui-container {
        padding: 0 15px;
    }

    .layui-hide-xs {
        /*display: initial !important;*/
    }

    .sitemap {
        background: #fff;
        padding: 6px 15px;
        line-height: normal;
        font-size: 13px;
    }

        .sitemap a {
            font-size: 13px;
        }

    .icon-stick {
        font-size: 14px;
    }

    .blog-banner li {
        font-size: 38px;
    }

    .left-box {
        margin-bottom: 15px;
    }

    .article .article-title {
        margin-bottom: 7px;
    }

        .article .article-title a {
            font-size: 17px;
        }

    .article > .article-right > .article-abstract {
        font-size: 14px;
        display: block;
        height: 79px;
        word-break: break-word;
        overflow: hidden;
        line-height: 21px;
    }

    .article .article-footer {
        font-size: 13px;
        margin-top: 3px;
    }

        .article .article-footer .article-viewinfo {
            display: inline;
        }


    /*文章分类导航*/
    .article-category {
        font-size: 13px;
        width: 260px !important;
    }

        .article-category > .blog-card-title {
            text-align: start;
        }

        .article-category > a {
            padding: 7px 1%;
            margin: 5px 0;
            width: 46%;
        }

            .article-category > a:nth-child(odd) {
                float: right;
            }

            .article-category > a:nth-child(even) {
                float: left;
            }

    @keyframes categoryIn {
        from {
            right: -280px;
        }

        to {
            right: 0;
        }
    }

    @-moz-keyframes categoryIn {
        from {
            right: -280px;
        }

        to {
            right: 0;
        }
    }

    @-webkit-keyframes categoryIn {
        from {
            right: -280px;
        }

        to {
            right: 0;
        }
    }

    @keyframes categoryOut {
        from {
            right: 0;
        }

        to {
            right: -280px;
        }
    }

    @-moz-keyframes categoryOut {
        from {
            right: 0;
        }

        to {
            right: -280px;
        }
    }

    @-webkit-keyframes categoryOut {
        from {
            right: 0;
        }

        to {
            right: -280px;
        }
    }
    /*文章分类导航End*/
    .error {
        min-height: 73vh;
    }

        .error h1 .layui-icon {
            line-height: 500px;
            font-size: 400px;
        }
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
    .sitemap {
        background: #fff;
        padding: 8px 15px;
        line-height: normal;
        font-size: 14px;
    }

        .sitemap a {
            font-size: 14px;
        }

    .icon-stick {
        font-size: 15px;
    }

    .category-toggle {
        display: none;
    }

    .blog-nav .blog-nav-list {
        display: block;
    }

    .blog-nav .blog-user {
        right: 0;
        line-height: 50px;
    }

    .blog-nav .blog-navicon {
        display: none;
    }

    .blog-nav .blog-logo {
        position: absolute;
        left: 0;
        width: auto;
    }

    .blog-nav .layui-nav {
        display: block;
    }

    .blog-nav-left {
        display: none !important;
    }

    .blog-mask {
        display: none;
    }

    .blog-banner li {
        font-size: 48px;
    }


    .blog-card {
        width: auto;
        float: none !important;
    }

    .article .article-title a {
        font-size: 19px;
    }

    .article > .article-right > .article-abstract {
        height: 58px;
        line-height: 19px;
        font-size: 13px;
    }

    /*文章分类导航*/
    .article-category {
        display: block;
        position: static;
        background: #fff;
        color: #333;
        width: auto !important;
        font-size: 14px;
    }

        .article-category a {
            background: inherit;
            border: 1px solid #d2d2d2;
            color: #444;
        }

            .article-category a:hover {
                border: 1px solid #5FB878;
                background: inherit;
                color: #5FB878;
            }
    /*文章分类导航End*/

    .error {
        min-height: 85vh;
    }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
    .blog-banner li {
        font-size: 58px;
    }

    .article > .article-right > .article-abstract {
        height: 79px;
        line-height: 21px;
    }

    .article .article-title {
        margin-bottom: 10px;
    }
}

@media(max-width:992px) {
    .padding0 {
        padding: 0;
    }
}
